<!-- app.component.html -->
<div class="container mt-5">
    <div class="card shadow" style="border: 2px solid #050505;">
      <div class="card-header text-black" style="background-color:#343a40;;">
        <h5 class="card-title mb-0 text-white">Student Details</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="{{url}}" alt="Student Avatar" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
          </div>
          <div class="col-md-6" >
            <ul class="list-group" style="border: 2px solid #050505;">
              <li class="list-group-item"><strong>Name:</strong> {{ name }}</li>
              <li class="list-group-item"><strong>Roll Number:</strong> {{ rollno }}</li>
              <li class="list-group-item"><strong>Course:</strong> {{ course }}</li>
              <li class="list-group-item"><strong>DOB:</strong> {{ dob }}</li>
              <li class="list-group-item"><strong>Email:</strong> {{ email }}</li>
            </ul>
          </div>
        </div>
        <app-table></app-table>
      </div>
    </div>
  </div>
  